.edit-image {
		background-color: #f2f2f2;
		min-height: 755px;

	&__picture {
		padding-left: 20px;
		padding-top: 20px;
	}
	&__elements {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-bottom: 40px;
		padding-top: 45px;
		margin-left: 30px;
		margin-right: 30px;

	}
	&__element {
		padding: 0;
		margin: 0;
		width: 60px;
		height: 60px;
		border: none;
		opacity: 0.5;
	}
	&__element_crop {
		background: url("../img/icon-editor-crop.svg") no-repeat 50% 50%;
	}
	&__element_contrast {
		background: url("../img/icon-editor-contrast.svg") no-repeat 50% 50%;
	}
	&__element_fill {
		background: url("../img/icon-editor-fill.svg") no-repeat 50% 50%;
	}
	&__element_crop:hover {
		background-color: #d22856;
	}
}

