.form {
		background-color: #fff;
		margin: 0;
		padding: 0;

	&__text {
		display: flex;
		flex-wrap: wrap;
		padding: 0 20px;
		border: none;
		padding-top: 45px;
		padding-bottom: 40px;
	}
	&__promo {
		margin: 0;
		padding: 50px 20px 0 20px;
		font-size: 14px;
		line-height: 30px;
		font-weight: normal;
		text-align: center;
	}
	&__name {
		display: flex;
		flex-wrap: wrap;
		padding-bottom:20px;
		.label_and_h2;
	}

	&__label-text {
		flex-basis: 100%;
		padding-left: 20px;
	}

	&__cell {
		width: 270px;
		min-height: 60px;
		border: 2px solid #e5e5e5;
		border-radius: 5px;
	}
	&__cell:hover {
		border: 2px solid #000;
	}
	&__cell:active {
		border: 2px solid #d22856;
	}
	::-webkit-input-placeholder {
	   color: #000;
	   font-size: 18px;
	   font-weight: normal;
	   padding-left: 20px;
	   padding-bottom: 20px;
	}

	/*form survey*/
	&__checkbox {
		display: flex;
		flex-wrap: wrap;
		border: none;
		margin: 0;
		background-color: #f2f2f2;
	}
	&__title {
		.label_and_h2;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 45px;
	}
	&__checkbox-name {
		position: relative;
		font-size: 18px;
		line-height: 30px;
		font-weight: normal;
		margin-bottom: 45px;
		padding-left: 80px;
		cursor: pointer;
	}
	input[type="checkbox"] {
		display: none;
	}
	&__checkbox-name:before {
		content: "";
		position: absolute;
		width: 34px;
		height: 34px;
		left: 15px;
		top: -2px;
		background-color: #fff;
		border: 2px solid #e5e5e5;
		border-radius: 5px;
	}
	&__checkbox-name:hover:before {
		border: 2px solid #000;
	}
	&__checkbox-name:active:before {
		border: 2px solid #d22856;
	}
	input[type="checkbox"]:checked + label:before {
		content: "\2713";
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		font-size: 25px;
		color: #d22856;
		text-align: center;
	}

	/*form__apps*/
	&__radio {
		display: flex;
		flex-wrap: wrap;
		border: none;
		margin: 0;
		background-color: #f2f2f2;
	}
	&__radio-btn {
		position: relative;
		font-size: 18px;
		line-height: 30px;
		font-weight: normal;
		margin-bottom: 35px;
		padding-left: 80px;
		padding-right: 20px;
		cursor: pointer;
	}
	input[type="radio"] {
		display: none;
	}
	&__radio-btn:before {
		content: "";
		position: absolute;
		width: 34px;
		height: 34px;
		left: 15px;
		top: -4px;
		background-color: #fff;
		border: 2px solid #e5e5e5;
		border-radius: 50px;
	}
	&__radio-btn:hover:before {
		border: 2px solid #000;
	}
	&__radio-btn:active:before {
		border: 2px solid #d22856;
	}
	input[type="radio"]:checked + label:before {
		content: "\2022";
		font-size: 60px;
		color: #d22856;
		text-align: center;
		line-height: 35px;
	}

	/*Form textarea*/
	&__textarea {
		display: flex;
		flex-wrap: wrap;
		border: none;
		margin: auto;
		padding-left: 20px;
		padding-right: 20px;
		background-color: #fff;
	}
	&__areafield {
		width: 270px;
		min-height: 196px;
		border: 2px solid #e5e5e5;
		resize: none;
		font-size: 18px;
		line-height: 30px;
	}
	&__btn {
		width: 280px;
		padding: 12px 20px;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		border: none;
		border-radius: 3px;
		margin: 45px 20px 40px 20px;
		background-color: #2aab6d;
		cursor: pointer;
		opacity: 0.9;
	}
	&__btn:hover {
		opacity: 1;
	}
	&__btn:active {
		opacity: 0.7;
	}
	&__required {
		display: block;
		font-size: 14px;
		line-height: 30px;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 25px;
	}
	&__required_asterix {
		color: #e06b8b;
	}
}


