.header {
		position: relative;
		background: url("../img/bg-back-mobile.jpg") no-repeat 50% 50%;
		background-size: cover;
		margin: 0;


	&__block {
		display: flex;
		position: relative;
		background-color: rgba(40, 54, 69, 0.6);
		flex-basis: 100%;
		height: 70px;
		margin: 0;
		padding: 0;
	}
	input:checked + .header__block {
		background-color: rgba(40, 54, 69, 1.0);
	}

 	&__logo-text {
		padding-top: 20px;
		padding-left: 20px;
		font-weight: normal;
		text-transform: uppercase;
		color: white;
	}
	&__checkbox {
		visibility: hidden;
		opacity: 0;
		z-index: -1000;
		position: absolute;
	}
	&__toggle {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		display: block;
		width: 70px;
		height: 70px;
		font-size: 0;
		cursor: pointer;
		border: none;
		&-hamburger {
		    position: absolute;
		    width: 36px;
		    height: 2px;
		    left: 50%;
		    top: 50%;
		    background: #fff;
		    display: block;
		    margin-left: -18px;
		    transform: translateY(-50%);
		    &:before,
			&:after {
			    content: "";
			    position: absolute;
			    width: 36px;
			    height: 2px;
			    left: 50%;
			    margin-left: -18px;
			    background: #fff;
			    display: block;
			    transition: transform 0.95s linear;
			}
			&:before {
				top: -10px;
			}
			&:after {
    			top: 10px;
  			}
  			:checked + .header__block & {
			    background: transparent;
			    transition: transform 0.95s linear;
				&:before {
				    transform: rotate(45deg);
				    transition: transform 0.95s linear;
				    transform-origin: 6px 7px;
				}
			    &:after {
				    transform: rotate(-45deg);
				    transition: transform 0.95s linear;
				    transform-origin: 7px -5px;
			    }
			}
		}
	}
	&__title {
		padding: 30px 20px 55px 20px;
		margin: 0;
		color: #fff;
		font-size: 24px;
		line-height: 1.3;
		text-align: center;
		font-weight: normal;
	}
}

@media @tablet-widths-only {
	.header__block {
		min-height: 110px;
	}
	.header__logo {
		width: 150px;
		height: 50px;
		background: url("../img/logo-pink-white-tablet.svg") no-repeat;
		margin-left: 40px;
		margin-top: 25px;
	}
	.header__logo-text {
		display: none;
	}
	.header__toggle {
		border: none;
		margin-right: 40px;
		margin-top: 20px;
	}
	.header__toggle-hamburger {
	    width: 50px;
	    height: 4px;
	    &:before,
		&:after {
		    width: 50px;
		    height: 4px;
		    left: 36%;
		}
		&:checked + .header__block &:before {
		    transform-origin: 25px 4px;
		}
	}
}
