.promo-container {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	.clearfix;
}
.promo-container__slogan {
	display: block;
	text-align: center;
	line-height: 1.3;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}
.promo-container__slogan:first-child {
	padding-top: 45px;
}
.promo-container__slogan b {
	font-size: 18px;
}
.promo-container__slogan p {
	font-size: 14px;
}
.promo-container__image {
	text-align: center;
}

