.promo-container {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: #f2f2f2;
		.clearfix();
	&__slogan {
		display: block;
		text-align: center;
		line-height: 1.3;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
	}
	&__slogan:first-child {
		padding-top: 75px;
	}
	&__slogan b {
		font-size: 18px;
	}
	&__slogan p {
		font-size: 14px;
	}
	&__image {
		background: url('../img/iphone-screen-mobile.png') no-repeat 50% 40px;
		width: auto;
		height: 320px;
	}
}

@media @mobile-widths-only {
	.promo-container2 {
		display: none;
	}
}

@media @tablet-widths-only {
	.promo-container {

	}
	.promo-container__slogan {
		display: inline-block;
		width: 320px;
		float: right;
		text-align: left;
		padding-right: 40px;
		padding-bottom: 40px;
	}
	.promo-container__slogan:first-child {
		padding-top: 85px;
	}
	.promo-container__image {
		position: absolute;
		background: url('../img/iphone-screen-tablet-3@1x.png') no-repeat 10px -10px;
		min-height: 465px;
		top: 18px;
		left: 20px;
		width: 280px;
		height: 100px;
		z-index: 10;
	}
	.promo-container2 {
		font-size: 14px;
		line-height: 24px;
		.clearfix();
	}
	.promo-container2__text {
		display: inline-block;
		width: 310px;
		float: right;
		text-align: left;
		margin-top: 95px;
		margin-bottom: 130px;
		margin-right: 40px;
	}
	.promo-container2 b {
		font-size: 30px;
		line-height: 36px;
	}
	.promo-container2 a {
		color: #d22856;
	}
	.promo-container2__img {
		width: 298px;
		height: 345px;
		background: url("../img/icon-timer.svg") no-repeat;
		z-index: 15;
	}
}
