.slider-table {
		min-height: 445px;
		background-color: #f2f2f2;
		padding-top: 65px;
		text-align: center;
		overflow: hidden;

	&__block {
		position: relative;
		margin-bottom: 385px;
	}
	&__list {
		position: absolute;
		width: 825px;
		border-collapse: collapse;
		opacity: 1;
		margin-top: 65px;
		left: -250px;
	}
	&__head {
		background-color: #283645;
		color: #fff;
		font-size: 24px;
		font-weight: normal;
		line-height: 30px;
		text-align: center;
	}
	&__head b {
		font-size: 18px;
	}
	&__head1 {
		border-right: 2px solid #eeeeee;
		border-left: 2px solid #eeeeee;
		height: 95px;
	}
	&__head2 {
		border-right: 2px solid #eeeeee;
		border-left: 2px solid #eeeeee;
	}
	&__head3 {
		border-right: 2px solid #eeeeee;
		border-left: 2px solid #eeeeee;
	}
	&__head-row {
		position: relative;
	}
	&__head2::before {
		content: "";
		position: absolute;
		width: 74px;
		height: 73px;
		background-color: red;
		top: 0;
		left: 280px;
		/*background: url("../img/bg-hit.svg") no-repeat;*/
	}
	&__body {
		background-color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 30px;
		text-align: left;
	}
	&__function {
		width: 275px;
		height: 60px;
		border: 2px solid #eeeeee;
		padding: 0 20px;
	}
	&__body-row {
		position: relative;
	}
	&__function::after {
		content: "";
		position: absolute;
		width: 50px;
		height: 50px;
		background: url("../img/icon-yes.svg") no-repeat;
	}
}
